<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {{#each posts}}
                <div class="post-preview">
                    <a href="{{this.postLink}}">
                        <h2 class="post-title">{{this.title}}</h2>
                    </a>
                    <p>{{{this.content}}}</p>
                    <p class="post-meta">
                        Posted by <a href="{{this.user.username}}">{{this.user.publicName}}</a>
                        on {{this.meta.publishedOn}}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            {{/each}}
            
        </div>
    </div>
</div>